@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$font-size: 15px;
$font-family: 'Poppins', sans-serif;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
  
/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

body {
  font-size: $font-size;
  font-family: $font-family;
  color: $grayish-blue;
  background-color: $very-light-gray;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  overflow: hidden;

  @media screen and (min-width: 1000px) {
    height: 100vh;   
    width: 100vw; 
  }
  
  @media screen and (max-width: 1000px) {
    padding: 30px 50px;
  }

  @media screen and (max-width: 800px) {
    padding: 30px;
  }
}

.title-container  {
  text-align: center;
  margin-bottom: 60px;
  width: 35vw;

  .title-1, .title-2 {
    font-size: 32px;
    color: $very-dark-blue;

    @media screen and (max-width: 1200px) {
      font-size: 28px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 24px;
    }

    @media screen and (max-width: 485px) {
      font-size: 18px;
    }
  }
  
  .title-2 {
    font-weight: 700;
    margin-bottom: 15px;
  }

  .desc {
    @media screen and (max-width: 485px) {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 800px) {
    width: 60vw;
  }

  @media screen and (max-width: 378px) {
    width: 80vw;
  }
}

.card-container {
  gap: 30px;

  .card {
    background-color: white;
    height: 300px;
    border-radius: 10px;
    padding: 20px 35px;
    font-size: 14px;
    box-shadow: 0px 15px 35px -12px rgba(115, 123, 197, 0.4);

    .card-title {
      color: $very-dark-blue;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .card-one {
    align-self: center;
    width: 100%;
    border-top: 5px solid $cyan;
    background-image: url(./images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: 90% 85%;
    transition: background-color 0.5s ease-out;

    @media screen and (min-width: 800px) {
      flex: 1;
    }

    &:hover {
      background-color: hsla(180, 62%, 55%, 0.05);
    }
  }

  .middle-card-container {
    gap: 30px;

    .card-two {
      border-top: 5px solid $red;
      background-image: url(./images/icon-team-builder.svg);
      background-repeat: no-repeat;
      background-position: 90% 85%;
      transition: background-color 0.5s ease-out;

      &:hover {
        background-color: hsla(0, 78%, 62%, 0.05);
      }
    }

    .card-three {
      border-top: 5px solid $orange;
      background-image: url(./images/icon-karma.svg);
      background-repeat: no-repeat;
      background-position: 90% 85%;
      transition: background-color 0.5s ease-out;

      &:hover {
        background-color: hsla(34, 97%, 64%, 0.05);
      }
    }

    @media screen and (min-width: 800px) {
      flex: 1.5;
    }

    @media screen and (min-width: 1000px) {
      flex: 1.2;
    }
  }
  
  .card-four {
    align-self: center;
    border-top: 5px solid $blue;
    background-image: url(./images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: 90% 85%;
    transition: background-color 0.5s ease-out;

    @media screen and (min-width: 800px) {
      flex: 1;
    }

    &:hover {
      background-color: hsla(212, 86%, 64%, 0.05);
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.attribution {
  text-align: center;
  background-color: $very-light-gray;
  margin-bottom: 10px;
  padding:  0 10px;

  a {
    color: $blue;
  }
}